@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-black left-1/2 block bottom-0 absolute;
}

.animation-hover:hover:after {
  @apply left-0 w-full;
}
